<form [formGroup]="data" >
    <div>
      <label for="name"> Name:</label>
      <input type="text" id="name" name="name" formControlName="name">
      <div *ngIf="data.controls['name'].invalid && (data.controls['name'].touched || data.controls['name'].dirty)" >
        <div class="warning" *ngIf="data!.controls!['name']!.errors!['required']">
          <p>  Name is required</p> 
        </div>
        <div class="warning" *ngIf="data.controls['name'].errors!['minlength']">
          <p> Min Length is 5</p>
        </div> 
      </div>
    </div>
    <br>
   
    <div>
      <label for="email"> Email:</label>
      <input type="email" id="email" name="email" formControlName="email">
      <div *ngIf="data.controls['email'].invalid && (data.controls['email'].touched || data.controls['email'].dirty)">
        <div class="warning" *ngIf="data.controls['email'].errors!['required']">
          <p>  Email is required</p> 
        </div>
      </div>
    </div>
    <br>
   
    <div>
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone" formControlName="phone">
      <div *ngIf="data.controls['phone'].invalid && (data.controls['phone'].touched || data.controls['phone'].dirty)" >
        <div class="warning" *ngIf="data!.controls!['phone']!.errors!['required']">
          <p>  phone number is required</p> 
        </div>
        <div class="warning" *ngIf="data.controls['phone'].errors!['minlength']">
          <p> Min Length is 5</p>
        </div> 
      </div>
    </div>
    <p>
        <button type="Submit" (click)="onSubmit()" [disabled]="!data.valid" [style.visibility]="(updates == true) ? 'hidden' : 'visible'"  >
          Submit</button>
        <button (click)="Changes()" [style.visibility]="(updates == false) ? 'hidden' : 'visible'" >
         save changes</button>
      </p>
</form>
<div *ngFor="let user of users">
  {{user.name}}
  {{user.email}}
  {{user.phone}}
  <button (click)="delete(user._id)">delete</button>
  <button (click)="change_data(user._id,user.name,user.email,user.phone)">update</button>
</div>